<i18n>
{
  "fr": {
    "title-diff": "Les différences entre GES 1Point5 et le Bilan Carbone© de l’Ademe / Association ABC",
    "diff-li-1-1": "GES 1point5 estime les émissions des ",
    "diff-li-1-str-1": "postes",
    "diff-li-1-2": " a priori ",
    "diff-li-1-str-2": "les plus significatifs",
    "diff-li-1-3": " des laboratoires. Le Bilan Carbone© vise à l’exhaustivité des sources d’émission de l’entité.",
    "diff-li-2-1": "GES 1point 5 a été conçu spécifiquement pour les laboratoires. Il inclut par exemple des ",
    "diff-li-2-str-1": "facteurs d’émission",
    "diff-li-2-2": " qui ont été conçus pour ",
    "diff-li-2-str-2": "tenir compte d’activités de recherche",
    "diff-li-2-3": " que le Bilan Carbone© n’inclut pas. Exemple : les campagnes de recherche en mer.",
    "diff-li-3-1": "GES 1point5 est ",
    "diff-li-3-str": "un outil pour l’action dans les laboratoires",
    "diff-li-3-2": ". Il stocke les bilans GES d’un même laboratoire année après année, non seulement comme outil de diagnostic mais aussi comme outil de suivi de l’efficacité des actions mises en œuvre au sein du laboratoire. Le Bilan Carbone© est conçu pour une année donnée.",
    "diff-li-4-1": "GES 1point5 est ",
    "diff-li-4-str": "un outil pour la recherche",
    "diff-li-4-2": ". A cette fin, il stocke les bilans GES de tous les laboratoires qui ont fait leur BGES avec l’outil. Le Bilan Carbone© n’offre pas cette fonctionnalité.",
    "diff-li-5-1": "GES 1point5 est ",
    "diff-li-5-str": "gratuit",
    "diff-li-5-2": ". Le Bilan Carbone© est un outil qui nécessite une formation payante pour obtenir la licence.",
    "diff-li-6-1": "GES 1point 5 est un ",
    "diff-li-6-str": "outil web",
    "diff-li-6-2": ". Le Bilan Carbone© est un fichier Excel."
  },
  "en": {
    "title-diff": "The differences between GES 1Point5 and the Bilan Carbone© of Ademe / Association ABC",
    "diff-li-1-1": "GES 1Point5 estimates the emissions of the ",
    "diff-li-1-str-1": "most significant",
    "diff-li-1-2": " ",
    "diff-li-1-str-2": "items",
    "diff-li-1-3": "  of the laboratories. The Bilan Carbone© aims to be exhaustive of the entity's emission sources.",
    "diff-li-2-1": "GES 1point 5 has been designed specifically for laboratories. For example, it includes ",
    "diff-li-2-str-1": "emission factors",
    "diff-li-2-2": " that have been designed to ",
    "diff-li-2-str-2": "take into account research activities",
    "diff-li-2-3": " that the Bilan Carbone© does not include. Example: research campaigns at sea.",
    "diff-li-3-1": "GES 1point5 is ",
    "diff-li-3-str": "a tool for action in laboratories",
    "diff-li-3-2": ". It stores the GHG inventories of the same laboratory year after year, not only as a diagnostic tool but also as a tool for monitoring the effectiveness of the actions implemented within the laboratory. The Bilan Carbone© is designed for a given year.",
    "diff-li-4-1": "GES 1point5 is ",
    "diff-li-4-str": "a tool for research",
    "diff-li-4-2": ". To this end, it stores the GHG inventories of all the laboratories that have done their GHGI with the tool. The Bilan Carbone© does not offer this functionality.",
    "diff-li-5-1": "GES 1point5 is ",
    "diff-li-5-str": "free-of-charge",
    "diff-li-5-2": ". The Bilan Carbone© is a tool that requires a paid training to obtain the licence.",
    "diff-li-6-1": "GES 1point 5 is a ",
    "diff-li-6-str": "web-based tool",
    "diff-li-6-2": ". Bilan Carbone© is an Excel file."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'chain-broken'">
      <template #title>
        {{ $t('title-diff') }}
      </template>
      <ul style="list-style-type:square;margin-left:25px">
        <li>{{ $t('diff-li-1-1') }}<strong>{{ $t('diff-li-1-str-1') }}</strong>{{ $t('diff-li-1-2') }}<strong>{{ $t('diff-li-1-str-2') }}</strong>{{ $t('diff-li-1-3') }}</li>
        <li>{{ $t('diff-li-2-1') }}<strong>{{ $t('diff-li-2-str-1') }}</strong>{{ $t('diff-li-2-2') }}<strong>{{ $t('diff-li-2-str-2') }}</strong>{{ $t('diff-li-2-3') }}</li>
        <li>{{ $t('diff-li-3-1') }}<strong>{{ $t('diff-li-3-str') }}</strong>{{ $t('diff-li-3-2') }}</li>
        <li>{{ $t('diff-li-4-1') }}<strong>{{ $t('diff-li-4-str') }}</strong>{{ $t('diff-li-4-2') }}</li>
        <li>{{ $t('diff-li-5-1') }}<strong>{{ $t('diff-li-5-str') }}</strong>{{ $t('diff-li-5-2') }}</li>
        <li>{{ $t('diff-li-6-1') }}<strong>{{ $t('diff-li-6-str') }}</strong>{{ $t('diff-li-6-2') }}</li>
      </ul>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'ADEMEDiff',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style lang="css" scoped>
  .bcteam {
    list-style-type:square;
    margin-left:25px
  }
  .bcteam > li {
    padding-top: 5px;
  }
</style>
