<i18n>
{
  "fr": {
    "title-emfa-update": "Mise à jour des facteurs d'émissions",
    "emfa-update-1": "Nous avons décidé de procéder ",
    "emfa-update-str-1": "une seule fois par an",
    "emfa-update-2": " à la mise à jour des facteurs d’émission (FE), même si l’ADEME effectue des modifications en cours d’année.",
    "emfa-update-3": "Ces mises à jour auront lieu idéalement en début d’année. Ainsi les FE répertoriés comme étant de « 2020 » sont ceux que nous avons obtenus de la Base Carbone de l’ADEME au début de l’année 2021 et qui ont changé par rapport aux FE que nous avions antérieurement dans notre base.",
    "emfa-update-4": "Le calcul des émissions de GES dans ",
    "g1p5": "GES 1point5",
    "emfa-update-5": " s’opère en allant chercher ",
    "emfa-update-str-2": "les FE les plus proches de l’année du BGES",
    "emfa-update-6": " dans la base des FE de ",
    "emfa-update-7": "Pour les FE qui changent chaque année parce que le « fuel mix » change chaque année (électricité, chauffage urbain par ex), nous appliquons le FE de l’année considérée (ou de l’année la plus proche dès lors que celui de l’année n’est pas encore disponible dans la Base Carbone de l’ADEME). Ex : les FE du chauffage urbain disponibles dans la Base Carbone de l’ADEME en juin 2021 sont ceux de 2018. Donc pour les BGES 2018, 2019 et 2020, les calculs utilisent les FE de 2018."
  },
  "en": {
  "title-emfa-update": "Emission factor updates",
  "emfa-update-1": "We have decided to update the emission factors (EFs) ",
  "emfa-update-str-1": "only once a year",
  "emfa-update-2": " even if ADEME makes changes during the year.",
  "emfa-update-3": "These updates will ideally take place at the beginning of the year. Thus the EFs listed as «2020» are those we obtained from ADEME's carbon base at the beginning of 2021 and which have changed from the EFs we had previously in our database.",
  "emfa-update-4": "The calculation of GHG emissions in ",
  "g1p5": "GES 1point5",
  "emfa-update-5": " is done by looking for ",
  "emfa-update-str-2": "the EFs closest to the year of the GHGI",
  "emfa-update-6": " in the EFs database of  ",
  "emfa-update-7": "For EFs that change each year because the fuel mix changes each year (e.g. electricity, district heating), we apply the EF for the year considered (or the closest year if the year's EF is not yet available in ADEME's carbon base.) E.g.: the EFs for district heating available in the ADEME carbon base in June 2021 are those for 2018. Therefore, for the 2018, 2019 and 2020 GHGIs, the calculations use the 2018 EFs."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'refresh'">
      <template #title>
        {{ $t('title-emfa-update') }}
      </template>
      <p>
        {{ $t('emfa-update-1') }}<strong>{{ $t('emfa-update-str-1') }}</strong>{{ $t('emfa-update-2') }}
        <br />
        {{ $t('emfa-update-3') }}
        <br />
        <br />
        {{ $t('emfa-update-4') }}<em>{{ $t('g1p5') }}</em>{{ $t('emfa-update-5') }}<strong>{{ $t('emfa-update-str-2') }}</strong>{{ $t('emfa-update-6') }}<em>{{ $t('g1p5') }}</em>.
        <br />
        {{ $t('emfa-update-7') }}
      </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'UpdateEmissionsFactors',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
