<i18n>
{
  "fr": {
    "summary-title": "Déplacements domicile / travail en",
    "summary-1": "Merci d'avoir répondu à ce questionnaire anonyme.",
    "summary-7": "Voici le résumé des réponses :",
    "summary-2": "Nombre de jours de déplacement",
    "summary-3": "Sur une journée-type, les distances parcourues sont ",
    "summary-4": "Sur une seconde journée-type",
    "summary-5": "jour(s) par semaine), les distances parcourues sont",
    "summary-6": "Les émissions calculées incluent celles liées à la combustion du carburant et celles liées à la fabrication des véhicules.",
    "annual-distance": "Distance annuelle",
    "annual-emissions": "Emissions annuelles",
    "status": "Statut",
    "researcher": "chercheur.e ou enseignant.e chercheur.e",
    "engineer": "ingénieur.e, technicien.ne, assistant.e ingénieur.e, personnel d'appui à la recherche",
    "student": "doctorant.e ou postdoctorant.e",
    "km-walking": "km en marche",
    "km-bike": "km en vélo",
    "km-ebike": "km en vélo électrique",
    "km-scooter": "km en trottinette électrique",
    "km-2wheeler": "km en deux roues motorisées",
    "km-car": "km en voiture",
    "km-bus": "km en bus",
    "km-busintercity": "km en autocar - trajets intercités",
    "km-tram": "km en tramway",
    "km-train": "km en train",
    "km-rer": "km en RER / transilien",
    "km-subway": "km en métro",
    "engine": "motorisation",
    "no-persons": "nombre de personnes",
    "2020-note": "Pour l’estimation des émissions en 2020, les calculs se font sur 27 semaines : elles sont calculées sur la base de 41 semaines de travail en année hors covid moins les 14 semaines des 2 confinements de 2020 (printemps et automne). Nous faisons l'hypothèse simplificatrice qu'aucun agent n'a été d'astreinte sur site ni en congés pendant les 2 confinements.",
    "2021-note": "Pour l’estimation des émissions en 2021, les calculs se font sur 37 semaines : elles sont calculées sur la base de 41 semaines de travail en année hors covid moins les 4 semaines du confinements de 2021 (hivers). Nous faisons l'hypothèse simplificatrice qu'aucun agent n'a été d'astreinte sur site ni en congés pendant les 2 confinements.",
    "simulation-title": "Résumé de la dernière simulation",
    "simulation-text": "Afin de comparer ces émissions à d'autres scénarios de déplacement, vous pouvez utiliser notre",
    "simulation-module": "module de simulation des déplacements domicile / travail"
  },
  "en": {
    "summary-title": "Commutes in",
    "summary-1": "Thank you for responding to this anonymous survey.",
    "summary-7": "Here is the summary of the answers:",
    "summary-2": "No of commuting days",
    "summary-3": "During a standard commute, distances traveled are",
    "summary-4": "During a second standard commute",
    "summary-5": "day(s) per week), distances traveled are",
    "summary-6": "The emissions estimated underneath include those from the fuel combustion and those from the manufacturing of vehicles.",
    "annual-distance": "Annual distance",
    "annual-emissions": "Annual emissions",
    "status": "Position",
    "researcher": "a researcher or a professor",
    "engineer": "an engineer, a technician, an assistant engineer, research support staff",
    "student": "a PhD student or a Post-Doc",
    "km-walking": "km walking",
    "km-bike": "km by bike",
    "km-ebike": "km by electrically assisted bike",
    "km-scooter": "km by electric scooter",
    "km-2wheeler": "km by motorized two-wheeler",
    "km-car": "km by car",
    "km-bus": "km by bus",
    "km-busintercity": "km by bus - Intercity travels",
    "km-tram": "km by tramway",
    "km-train": "km by train",
    "km-rer": "km by Paris suburban express railway including RER",
    "km-subway": "km by subway",
    "engine": "engine",
    "no-persons": "number of persons",
    "2020-note": "To estimate emissions in 2020, the calculations are made over 27 weeks: they are calculated on the basis of 41 work weeks per year excluding covid, less the 14 weeks of the 2 lockdowns of 2020 (spring and fall). We make the assumption that there was no on-premise call and no leave.",
    "2021-note": "To estimate emissions in 2021, the calculations are made over 37 weeks: they are calculated on the basis of 41 work weeks per year excluding covid, less the 4 weeks of the lockdown of 2021 (winter). We make the assumption that there was no on-premise call and no leave.",
    "simulation-title": "Summary of your last simulation",
    "simulation-text": "To compare these emissions with other commutes scenarios, you can use our",
    "simulation-module": "commutes simulation module"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'info'">
      <template #title>
        <span v-if="!isSimulation">{{ $t('summary-title') }}</span>
        <span v-else>{{ $t('simulation-title') }}</span>
      </template>
      <span v-if="!isSimulation"><strong v-if="submitted">{{ $t('summary-1') }}</strong> {{ $t('summary-7') }}</span>
      <br v-if="!isSimulation"/>
      <ul style="list-style-type:square;margin-left:25px;text-align: justify;">
        <li v-if="!isSimulation">{{ $t('status') }}: {{ $t(commute.position) }} ;</li>
        <li>{{ $t('summary-2') }} : {{ commute.nWorkingDay }} ;</li>
        <li v-if="commute.nWorkingDay > 0">
          {{ $t('summary-3') }} :
          <ul style="list-style-type:square;margin-left:30px;text-align: justify;">
            <li v-if="commute.walking!==0">{{ commute.walking }} {{ $t('km-walking') }} ;</li>
            <li v-if="commute.bike!==0">{{ commute.bike }} {{ $t('km-bike') }} ;</li>
            <li v-if="commute.ebike!==0">{{ commute.ebike }} {{ $t('km-ebike') }} ;</li>
            <li v-if="commute.escooter!==0">{{ commute.escooter }} {{ $t('km-scooter') }} ;</li>
            <li v-if="commute.motorbike!==0">{{ commute.motorbike }} {{ $t('km-2wheeler') }} ;</li>
            <li v-if="commute.car!==0">{{ commute.car }} {{ $t('km-car') }} ({{ $t('engine') }}: {{ $t(commute.engine) }}, {{ $t('no-persons') }}: {{ commute.carpooling }}) ;</li>
            <li v-if="commute.bus!==0">{{ commute.bus }} {{ $t('km-bus') }} ;</li>
            <li v-if="commute.busintercity!==0">{{ commute.busintercity }} {{ $t('km-busintercity') }} ;</li>
            <li v-if="commute.tram!==0">{{ commute.tram }} {{ $t('km-tram') }} ;</li>
            <li v-if="commute.train!==0">{{ commute.train }} {{ $t('km-train') }} ;</li>
            <li v-if="commute.expressrailway!==0">{{ commute.expressrailway }} {{ $t('km-rer') }} ;</li>
            <li v-if="commute.subway!==0">{{ commute.subway }} {{ $t('km-subway') }} ;</li>
          </ul>
        </li>
        <li v-if="commute.hasWorkingDay2">
          {{ $t('summary-4') }} ({{ commute.nWorkingDay2 }} {{ $t('summary-5') }} :
          <ul style="list-style-type:square;margin-left:30px;text-align: justify;">
            <li v-if="commute.walking2!==0">{{ commute.walking2 }} {{ $t('km-walking') }} ;</li>
            <li v-if="commute.bike2!==0">{{ commute.bike2 }} {{ $t('km-bike') }} ;</li>
            <li v-if="commute.ebike2!==0">{{ commute.ebike2 }} {{ $t('km-ebike') }} ;</li>
            <li v-if="commute.escooter2!==0">{{ commute.escooter2 }} {{ $t('km-scooter') }} ;</li>
            <li v-if="commute.motorbike2!==0">{{ commute.motorbike2 }} {{ $t('km-2wheeler') }} ;</li>
            <li v-if="commute.car2!==0">{{ commute.car2 }} {{ $t('km-car') }} ({{ $t('engine') }}: {{ $t(commute.engine2) }}, {{ $t('no-persons') }}: {{ commute.carpooling2 }}) ;</li>
            <li v-if="commute.bus2!==0">{{ commute.bus2 }} {{ $t('km-bus') }} ;</li>
            <li v-if="commute.busintercity2!==0">{{ commute.busintercity2 }} {{ $t('km-busintercity') }} ;</li>
            <li v-if="commute.tram2!==0">{{ commute.tram2 }} {{ $t('km-tram') }} ;</li>
            <li v-if="commute.train2!==0">{{ commute.train2 }} {{ $t('km-train') }} ;</li>
            <li v-if="commute.expressrailway2!==0">{{ commute.expressrailway2 }} {{ $t('km-rer') }} ;</li>
            <li v-if="commute.subway2!==0">{{ commute.subway2 }} {{ $t('km-subway') }} ;</li>
          </ul>
        </li>
      </ul>
    </su-service>
    <br v-if="submitted && year===2020"/>
    <br v-else-if="submitted && year===2021"/>
    <br v-else-if="submitted && !isSimulation"/>
    <b-notification v-if="submitted && year===2020" :closable="false">
      {{ $t('2020-note') }}
      <br v-if="!isSimulation"/>
      <span v-if="!isSimulation">
        {{ $t('simulation-text') }}
        <a @click="$emit('open')" class="link">
          {{ $t('simulation-module') }}
        </a>.
      </span>
    </b-notification>
    <b-notification v-else-if="submitted && year===2021" :closable="false">
      {{ $t('2021-note') }}
      <br v-if="!isSimulation"/>
      <span v-if="!isSimulation">
        {{ $t('simulation-text') }}
        <a @click="$emit('open')" class="link">
          {{ $t('simulation-module') }}
        </a>.
      </span>
    </b-notification>
    <b-notification v-else-if="submitted && !isSimulation" :closable="false">
      {{ $t('simulation-text') }}
      <a @click="$emit('open')" class="link">
        {{ $t('simulation-module') }}
      </a>.
    </b-notification>
  </div>
</template>

<script>

export default {
  name: 'SurveySummary',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  props: {
    commute: {
      type: Object,
      default: null
    },
    isSimulation: {
      type: Boolean,
      default: false
    },
    submitted: {
      type: Boolean,
      default: false
    },
    year: {
      type: Number,
      default: null
    }
  }
}
</script>
