<i18n>
  {
    "fr": {
      "my-laboratory": "Mon laboratoire",
      "initiatives": "Les initiatives",
      "ges-1point5": "GES 1point5",
      "ghgis": "Les BGES",
      "scenario-1point5": "Scénario 1point5",
      "scenarios": "Les scénarios",
      "compare-ghgis": "Comparer BGES",
      "others": "Autres",
      "links": "Liens",
      "settings": "Configuration",
      "data": "Les données"
    },
    "en": {
      "my-laboratory": "My laboratory",
      "initiatives": "Initiatives",
      "ges-1point5": "GES 1point5",
      "ghgis": "GHG inventories",
      "scenario-1point5": "Scenario 1point5",
      "scenarios": "The scenarios",
      "compare-ghgis": "Compare GHGIs",
      "others": "Others",
      "links": "Links",
      "settings": "Settings",
      "data": "Data"
    }
  }
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <b-menu>
              <b-menu-list label="Administration" v-if="authStore.isSuperUser">
                <b-menu-item
                  :active="activeModule==='settings-editor'"
                  @click="activate('settings-editor')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="cog"></b-icon>
                          {{ $t('settings') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='ges-1point5-admin'||activeModule==='scenario-1point5-admin'"
                  :expanded="activeModule==='ges-1point5-admin'||activeModule==='scenario-1point5-admin'"
                  @click="activate('ges-1point5-admin')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="table"></b-icon>
                    {{ $t('data') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='ges-1point5-admin'"
                    @click="activate('ges-1point5-admin')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thermometer"></b-icon>
                            GES 1point5
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='scenario-1point5-admin'"
                    @click="activate('scenario-1point5-admin')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="crosshairs"></b-icon>
                            Scenario 1point5
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='initiatives-admin'"
                  @click="activate('initiatives-admin')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="lightbulb-o"></b-icon>
                          {{ $t('initiatives') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('my-laboratory')">
                <b-menu-item
                  :active="activeModule==='my-laboratory'"
                  @click="activate('my-laboratory')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="flask"></b-icon>
                          {{ $t('my-laboratory') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='all-ghgi'||activeModule==='ghgi-comparison'"
                  :expanded="activeModule==='all-ghgi'||activeModule==='ghgi-comparison'"
                  @click="activate('all-ghgi')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="thermometer"></b-icon>
                    {{ $t('ges-1point5') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='all-ghgi'"
                    @click="activate('all-ghgi')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thermometer"></b-icon>
                            {{ $t('ghgis') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='ghgi-comparison'"
                    @click="activate('ghgi-comparison')"
                    :disabled="!(adminStore.allGHGI.length>0)"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="line-chart"></b-icon>
                            {{ $t('compare-ghgis') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='all-scenarios'"
                  :expanded="activeModule==='all-scenarios'"
                  :disabled="!(adminStore.allGHGI.length>0)"
                  @click="activate('all-scenarios')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="crosshairs"></b-icon>
                    {{ $t('scenario-1point5') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='all-scenarios'"
                    @click="activate('all-scenarios')"
                    :disabled="!(adminStore.allGHGI.length>0)"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="crosshairs"></b-icon>
                            {{ $t('scenarios') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='initiatives'"
                  @click="activate('initiatives')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="lightbulb-o"></b-icon>
                          {{ $t('initiatives') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('others')">
                <b-menu-item
                  :active="activeModule==='links'"
                  @click="activate('links')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="external-link-square"></b-icon>
                          {{ $t('links') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <settings-editor v-if="activeModule==='settings-editor'"/>
            <ges-1point5-admin v-if="activeModule==='ges-1point5-admin'"/>
            <scenario-1point5-admin v-if="activeModule==='scenario-1point5-admin'"/>
            <initiatives-admin v-if="activeModule==='initiatives-admin'"/>
            <ghgi-comparison v-if="activeModule==='ghgi-comparison'"/>
            <all-ghgi v-if="activeModule==='all-ghgi'"/>
            <my-laboratory v-if="activeModule==='my-laboratory'"/>
            <initiatives v-if="activeModule==='initiatives'"/>
            <all-scenarios v-if="activeModule==='all-scenarios'"/>
            <div v-if="activeModule==='links'">
              <links />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'

export default {
  name: 'Administration',
  components: {
    'settings-editor': () => import('@/components/superadmin/SettingsEditor.vue'),
    'ges-1point5-admin': () => import('@/components/superadmin/GES1point5.vue'),
    'scenario-1point5-admin': () => import('@/components/superadmin/Scenario1point5.vue'),
    'initiatives-admin': () => import('@/components/superadmin/Initiatives.vue'),
    'ghgi-comparison': () => import('@/components/admin/GHGIComparison.vue'),
    'all-ghgi': () => import('@/components/admin/AllGHGI.vue'),
    'my-laboratory': () => import('@/components/admin/MyLaboratory.vue'),
    'all-scenarios': () => import('@/components/admin/AllScenarios.vue'),
    'initiatives': () => import('@/components/admin/MyInititatives.vue'),
    'links': () => import('@/components/admin/Links.vue')
  },
  data () {
    return {
      activeModule: 'all-ghgi'
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    return { adminStore, authStore }
  },
  computed: {
    routeParam: function () {
      return this.$route.params.name
    }
  },
  watch: {
    routeParam: function () {
      this.activate(this.routeParam)
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
      this.$router.push('/administration/' + module).catch(() => {})
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getAllGHGI()
        .then(data => {
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    }
    if (this.routeParam) {
      // if login from scenario and there is no ghgi available, redirect to ges admin
      if (this.routeParam === 'all-scenarios' && !(this.adminStore.allGHGI.length > 0)) {
        this.activate('all-ghgi')
      } else {
        this.activate(this.routeParam)
      }
    }
  }
}
</script>
