<i18n>
{
  "fr": {
    "label-1": "Ça arrive à tout le monde !",
    "label-2": "Nous allons vous envoyer la marche à suivre par Email. C'est simple et rapide.",
    "label-3": "Email",
    "label-4": "Envoyer",
    "label-5": "Un lien de réinitialisation a été envoyé à l'adresse Email :",
    "label-6": "Cliquez sur le lien envoyé pour changer votre mot de passe."
  },
  "en": {
    "label-1": "It may happen to anyone!",
    "label-2": "We are sending you the instructions by email. It is quick and easy!",
    "label-3": "Email",
    "label-4": "Send",
    "label-5": "A reset link has been sent to the Email address:",
    "label-6": "Click on the link sent to change your password."
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth" v-if="iframeSrc!==''">
            <iframe scrolling="no" id="frame-reinit" width="100%" :src="iframeSrc"></iframe>
          </div>
          <div class="column is-three-fifths is-offset-one-fifth" v-else-if="iframeSrc==='' && emailSent">
            <div class="box-blue">
              {{ $t('label-5') }} <strong>{{ email }}</strong>.
              <br>
              {{ $t('label-6') }}
            </div>
          </div>
          <div class="column is-three-fifths is-offset-one-fifth" v-else>
            <serveur-info :erreur="erreur"/>
            <div class="box-blue">
              {{ $t('label-1') }}
              <br />
              {{ $t('label-2') }}
            </div>
            <br />
            <form @submit.prevent="validateBeforeSubmit">
              <div class="box-blue">
                <b-field
                  :label="$t('label-3') + ' *'"
                  :type="{'is-danger': errors.has('email')}"
                  :message="errors.first('email')">
                  <b-input
                    name="email"
                    v-validate="'required|email'"
                    icon="envelope-open"
                    :placeholder="$t('label-3') + ' *'"
                    maxlength="190"
                    v-model="email"
                  ></b-input>
                </b-field>
              </div>
              <br/>
              <nav class="level">
                <div class="level-left"></div>
                <div class="level-right">
                  <button
                    type="submit"
                    class="button is-primary"
                    :disabled="isDisabled()"
                  >
                    <span class="icon is-small"><i class="sui sui-paper-plane"></i></span>
                    <span>{{ $t('label-4') }}</span>
                  </button>
                </div>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import userService from '@/services/userService'
import ServeurInfo from '@/components/ServeurInfo.vue'

export default {
  name: 'ResetPassword',
  components: {
    'serveur-info': ServeurInfo
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      email: null,
      erreur: '',
      emailSent: false
    }
  },
  methods: {
    isDisabled: function () {
      return (!this.email)
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          userService.userExists({
            email: this.email
          })
            .then(data => {
              if (data.exists) {
                userService.resetPassword({
                  email: this.email
                })
                  .then(data => {
                    loadingComponent.close()
                    this.emailSent = true
                  })
                  .catch((erreur) => {
                    loadingComponent.close()
                    this.erreur = erreur.response.data
                  })
              } else {
                loadingComponent.close()
                this.erreur = 'Aucun compte associé à l\'adresse Email saisie.'
              }
            })
        }
      })
    }
  },
  computed: {
    iframeSrc: function () {
      let urlReturn = ''
      if (this.$route.params.id !== undefined && this.$route.params.token !== undefined) {
        urlReturn = '/accounts/reset/' + this.$route.params.id + '/' + this.$route.params.token + '/'
      }
      return urlReturn
    }
  }
}
</script>

<style lang="css">
#frame-reinit {
  height: 400px !important
}
</style>
