<i18n>
{
  "fr": {
    "title-1": "Webinaires",
    "text-1": "Webinaire Scénario 1point5"
  },
  "en": {
    "title-1": "Webinar",
    "text-1": "Webinar Scenario 1point5"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'play-circle-o'" v-if="header">
      <template #title>
        {{ $t('title-1') }}
      </template>
    </su-service>
    <div class="columns">
      <div class="column is-6">
        <br /><br />
        <div class="has-text-centered">
          <iframe style="height:250px"
            src="https://tube.nuagelibre.fr/videos/embed/8bdd61a5-dd82-4508-9c9b-344baa4747e0"
            frameborder="0"
            width="90%"
            height="250px"
            sandbox="allow-same-origin allow-scripts"
            allowfullscreen="allowfullscreen">
          </iframe>
        </div>
        <b-notification :closable="false" class="ml-5 mr-5">
          <strong>{{ $t('text-1') }}</strong>
          <div style="position:absolute;top:20px;right:20px">
            <span class="subtitle is-muted is-size-6">20-04-2023</span>
          </div>
          <br/>
          <small>
            <a class="link" target="_blank" href="https://tube.nuagelibre.fr/videos/watch/8bdd61a5-dd82-4508-9c9b-344baa4747e0"><span class="icon is-small"><i class="sui sui-play-circle-o"></i></span> Vidéo</a>
          </small>
        </b-notification>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Webinar',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  props: ['header']
}
</script>
