@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ohbuuz');
    src:  url('fonts/icomoon.eot?ohbuuz#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ohbuuz') format('truetype'),
      url('fonts/icomoon.woff?ohbuuz') format('woff'),
      url('fonts/icomoon.svg?ohbuuz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-motorcycle:before {
    content: "\e900";
  }
  .icon-electric-scooter:before {
    content: "\e901";
  }
  .icon-electric-bike:before {
    content: "\e902";
  }
  .icon-rer:before {
    content: "\e903";
  }
  .icon-tram:before {
    content: "\e904";
  }
  .icon-subway:before {
    content: "\e905";
  }
  .icon-walk:before {
    content: "\e906";
  }
  