<template>
  <div :class="{ 'box-red': type === 'error', 'box-blue': type === 'info', 'box-green': type === 'success'}">
    <div class="su-service">
      <div class="su-service-title" :class="{ 'su-header-error': type === 'error', 'su-header-info': type === 'info', 'su-header-success': type === 'success' }" style="padding-left:46px;min-height:32px;line-height:32px">
        <i v-bind:class="['sui', 'sui-'+icon]" style="font-size:32px;" v-if="icon"></i>
        <slot name="title"></slot>
      </div>
      <div class="su-service-content su-clearfix" :class="{ 'su-service-padded': padding }">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SUService',
  props: {
    icon: {
      default: function () {
        return ''
      }
    },
    padding: {
      default: function () {
        return true
      }
    },
    type: {
      default: function () {
        return 'info'
      }
    }
  }
}
</script>

<style lang="css">
.su-service-padded {
  padding-left: 46px;
}
.su-header-info {
  color: #333333;
}
.su-header-error {
  color: #ff3860;
}
.su-header-success {
  color: #029d39;
}
</style>
