<i18n>
  {
    "fr": {
      "kg.co2e.km": "kg eCO2/km",
      "data": "Valeur moyenne",
      "help": "Composition de l’empreinte carbone des différents types de véhicules. La partie « amont » représente l’empreinte liée à l’extraction, le transport, le raffinage, la production et la distribution du combustible. Dans le cas de l’électricité, les émissions liées au transport et à la distribution font partie de l’amont."
    },
    "en": {
      "kg.co2e.km": "kg CO2e/km",
      "data": "Average value",
      "help": "Composition of the carbon footprint of different types of vehicle. The « upstream » part represents the footprint linked to the extraction, transport, refining, production and distribution of the fuel. In the case of electricity, emissions linked to transport and distribution are included in the upstream part."
    }
  }
  </i18n>

<template>
  <figure class="highcharts-figure">
    <highcharts ref="chart" :options="options" />
    <p class="highcharts-description highcharts-linked-description">
      <strong>Figure : </strong> {{ $t('help') }}
    </p>
  </figure>
</template>

<script>
import '@/plugins/highcharts.js'
import Highcharts from 'highcharts'
import VEHICLES_FACTORS from '@/../data/vehiclesFactors.json'
import EmissionFactor from '@/models/carbon/EmissionFactor.js'

export default {
  name: 'CarsEmissionFactors',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      options: {}
    }
  },
  methods: {
    getAverageCarFromData () {
      let efs = {
        'combustion': [],
        'upstream': [],
        'manufacturing': []
      }
      for (let item of this.ghgi.vehicles) {
        if ('type' in item && item.type === 'car') {
          let ef = item.getEmissionFactor(this.ghgi.year)
          efs.combustion.push(ef.combustion.total)
          efs.upstream.push(ef.upstream.total)
          efs.manufacturing.push(ef.manufacturing.total)
        } else if ('car' in item && item.car > 0) {
          let ef = item.getEmissionFactor('car', item.engine, null, this.ghgi.year)
          efs.combustion.push(ef.combustion.total)
          efs.upstream.push(ef.upstream.total)
          efs.manufacturing.push(ef.manufacturing.total)
        }
      }
      efs.combustion = efs.combustion.reduce((sum, a) => sum + a, 0) / efs.combustion.length
      efs.combustion = Math.round(efs.combustion * 1000) / 1000
      efs.upstream = efs.upstream.reduce((sum, a) => sum + a, 0) / efs.upstream.length
      efs.upstream = Math.round(efs.upstream * 1000) / 1000
      efs.manufacturing = efs.manufacturing.reduce((sum, a) => sum + a, 0) / efs.manufacturing.length
      efs.manufacturing = Math.round(efs.manufacturing * 1000) / 1000
      return efs
    },
    compute () {
      let self = this
      let avgFromData = this.getAverageCarFromData()
      let colors = Highcharts.getOptions().colors
      let categories = []
      let series = [
        {
          id: 'id1',
          name: this.$t('combustion'),
          data: [avgFromData.combustion],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[0]
        }, {
          id: 'id2',
          name: this.$t('upstream'),
          data: [avgFromData.upstream],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[1]
        }, {
          id: 'id3',
          name: this.$t('manufacturing'),
          data: [avgFromData.manufacturing],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[2]
        }, {
          linkedTo: 'id1',
          name: this.$t('combustion'),
          xAxis: 1,
          data: [],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[0]
        }, {
          linkedTo: 'id2',
          name: this.$t('upstream'),
          xAxis: 1,
          data: [],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[1]
        }, {
          linkedTo: 'id3',
          name: this.$t('manufacturing'),
          xAxis: 1,
          data: [],
          groupPadding: 0.5,
          pointWidth: 50,
          color: colors[2]
        }
      ]
      for (let type of Object.keys(VEHICLES_FACTORS.car)) {
        categories.push(this.$t(type))
        let ef = EmissionFactor.createFromObj(VEHICLES_FACTORS.car[type])
        series[3].data.push(ef.getFactor().combustion.total)
        series[4].data.push(ef.getFactor().upstream.total)
        series[5].data.push(ef.getFactor().manufacturing.total)
      }
      this.options = {
        chart: {
          type: 'column',
          events: {
            render: function () {
              let ren = this.renderer
              ren.path([
                'M', 178, 10,
                'L', 178, 255
              ])
                .attr({
                  'stroke-width': 2,
                  stroke: 'gray',
                  dashstyle: 'dash'
                })
                .add()
            }
          }
        },
        title: {
          text: ''
        },
        xAxis: [{
          width: '20%',
          type: 'category',
          categories: [this.$t('data')],
          labels: {
            rotation: -45
          }
        }, {
          offset: 0,
          width: '80%',
          left: '20%',
          type: 'category',
          categories: categories
        }],
        yAxis: {
          min: 0,
          title: {
            text: this.$t('kg.co2e.km')
          }
        },
        tooltip: {
          formatter: function () {
            let tooltip = this.point.category + ' <br />'
            tooltip += '<span style="color:' + this.point.series.color + ';">\u25CF ' + '</span> '
            tooltip += this.point.series.name + ': <b>' + Math.round(this.point.y * 10000) / 10000
            tooltip += '</b> ' + self.$t('kg.co2e.km') + ' <br />'
            return tooltip
          }
        },
        plotOptions: {
          column: {
            stacking: 'normal',
            dataLabels: {
              enabled: true
            }
          }
        },
        series: series
      }
    }
  },
  mounted () {
    this.compute()
  }
}
</script>

<style scoped>
.highcharts-figure {
  min-width: 320px;
  max-width: 700px;
  margin: 1em auto;
}
.highcharts-description {
  text-align: center;
  color: "#777777";
  font-style: italic;
}
</style>
