<i18n>
{
  "fr": {
    "title": "Les scénarios",
    "title-2": "Supprimer le scénario",
    "info-1": "L'ensemble des scénarios de votre laboratoire sont listés dans le tableau ci-dessous. Depuis ce tableau, vous pouvez ajouter, charger et supprimer un scénario.",
    "info-2": "Aucun scénario",
    "info-3": "Êtes vous sûr de vouloir supprimer le scénario",
    "field-1": "Nom du scénario",
    "field-2": "Année de référence",
    "field-3": "Année cible",
    "field-4": "Mesures de réduction",
    "tooltip-1": "Charger le scénario",
    "tooltip-2": "Supprimer le scénario",
    "tooltip-3": "Charger le lien publique du scénario"
  },
  "en": {
    "title": "The scenarios",
    "title-2": "Delete scenario",
    "info-1": "All the scenarios of your laboratory are listed in the table below. From this table, you can add, upload and delete a scenario." ,
    "info-2": "No scenario",
    "info-3": "Are you sure that you want to delete the scenario",
    "field-1": "Scenario name",
    "field-2": "Reference year",
    "field-3": "Target year",
    "field-4": "Mitigation measures",
    "tooltip-1": "Load the scenario",
    "tooltip-2": "Delete the scenario",
    "tooltip-3": "Load the scenario public link"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'crosshairs'">
      <template #title>
        {{ $t('title') }}
      </template>
      {{ $t('info-1') }}
    </su-service>
    <br />
    <b-table
      :data="adminStore.allScenarios"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
    >
      <b-table-column :label="$t('field-1')" sticky v-slot="props">
        {{ props.row.name }}
      </b-table-column>
      <b-table-column :label="$t('field-2')" v-slot="props">
        {{ props.row.ghgi.year }}
      </b-table-column>
      <b-table-column :label="$t('field-3')" v-slot="props">
        {{ props.row.timeline }}
      </b-table-column>
      <b-table-column :label="$t('field-4')" v-slot="props">
        <b-taglist>
          <b-tag
            v-for="(rule,index) in props.row.rules"
            :key="index"
          >
            {{ translate(rule, 'title') }}
          </b-tag>
        </b-taglist>
      </b-table-column>
      <b-table-column :width="40" v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-1')"
            type="is-black"
          >
            <b-button
              size="is-small"
              type="is-primary"
              icon-left="cloud-download"
              @click="loadScenario(props.row.uuid)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-3')"
            type="is-black"
            position="is-left"
          >
            <b-button
              size="is-small"
              icon-left="external-link"
              @click="copyLink(props.row.id)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-2')"
            type="is-black"
            position="is-left"
          >
            <b-button
              size="is-small"
              icon-right="trash"
              @click="deleteScenario(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('info-2') }}</p>
        </div>
      </section>
    </b-table>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            @click="createScenario()"
          >
            {{ $t('add') }}
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Rule from '@/models/scenario/Rule.js'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'

export default {
  name: 'AllScenarios',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    return { adminStore, authStore }
  },
  methods: {
    translate (rule, key) {
      return Rule.translate(rule, key, this.$i18n.locale)
    },
    createScenario () {
      this.$router.push('/scenario-1point5/0')
    },
    loadScenario (uuid) {
      this.$router.push('/scenario-1point5/' + uuid)
    },
    copyLink (id) {
      let scenario = this.adminStore.allScenarios.find(obj => obj.id === id)
      let route = this.$router.resolve({ path: '/scenario-1point5-results/' + scenario.uuid })
      window.open(route.href, '_blank')
    },
    deleteScenario (scenario) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('title-2') + ' ' + scenario.name,
        message: self.$t('info-3') + ' <b> ' + scenario.name + '</b> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.adminStore.deleteScenario(scenario.id)
            .then(data => {
              loadingComponent.close()
            })
            .catch((erreur) => {
              loadingComponent.close()
            })
        }
      })
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getScenarios()
        .then(data => {
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    }
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
.table td {
  vertical-align: middle !important;
}
.table th {
  vertical-align: middle !important;
}
</style>
