<i18n>
{
  "fr": {
    "title": "Comparez les BGES",
    "info-1": "Selectionnez les BGES à comparer ainsi que l'année des facteurs d'émissions que vous souhaitez utiliser pour réaliser le calcul des émissions. Par défaut, l'année des facteurs d'émissions utilisée est celle de l'année du BGES. Cependant, utiliser la même année pour tous les BGES permet de visualiser l'évolution des émissions propres à l'activité du laboratoire, sans prendre en compte l'évolution des facteurs d'émissions eux-mêmes.",
    "field-1": "Années des BGES à comparer",
    "field-2": "Ajouter un BGES",
    "field-3": "Année des facteurs d'émissions",
    "field-4": "Année du BGES",
    "field-5": "Mode d'affichage"
  },
  "en": {
    "title": "Compare GHG inventories",
    "info-1": "Select the years of the GHG inventories that you want to compare, as well as the year of the emission factors that you want to use for the emissions calculation. By default, the year used for the emission factors is the year of each GHG inventory. Still, using the same base year for all the GHG inventories allows you to compare the changes in the emissions due to the activity of the laboratory, without accounting for changes in the emission factors",
    "field-1": "Years of the GHG inventories for comparison",
    "field-2": "Add a GHG inventory",
    "field-3": "Year of the emission factors",
    "field-4": "Year of the GHG inventory",
    "field-5": "Display mode"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'line-chart'">
      <template #title>
        {{ $t('title') }}
      </template>
      {{ $t('info-1') }}
    </su-service>
    <br />
    <b-notification :closable="false">
      <div class="columns">
        <div class="column">
          <b-field :label="$t('field-1')">
            <b-taginput
              v-model="GHGIToCompare"
              :data="allGHGI"
              :allow-new="false"
              rounded
              @input="computeGHGI"
              autocomplete
              :open-on-focus="true"
              field="year"
              icon="caret-right"
              :placeholder="$t('field-2')"
            ></b-taginput>
          </b-field>
        </div>
        <div class="column">
          <b-field :label="$t('field-3')">
            <b-select
              expanded
              @input="computeGHGI"
              v-model="selectedEFYear"
            >
              <option :value="null">{{ $t('field-4') }}</option>
              <option
                :value="year"
                v-for="(year,index) in allEFYears"
                :key="index"
              >{{ year }}</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-3">
          <b-field :label="$t('field-5')">
            <b-radio-button v-model="displayMode"
                native-value="bar"
                expanded
                type="is-primary"
            >
              <b-icon icon="bar-chart"></b-icon>
              <span>Bar</span>
            </b-radio-button>
            <b-radio-button v-model="displayMode"
                expanded
                native-value="line"
            >
              <b-icon icon="line-chart"></b-icon>
              <span>Line</span>
            </b-radio-button>
          </b-field>
        </div>
      </div>
    </b-notification>
    <contrails-switch
      :withContrails.sync="withContrails"
      @input="computeGHGI"
    />
    <br />
    <ghgis-bar
      v-show="displayMode==='bar'"
      :ghgis="sortedGHGIToCompare"
      :withContrails="withContrails"
      :modules="modules"
      :colors="colors"
    />
    <ghgis-line
      v-show="displayMode==='line'"
      :ghgis="sortedGHGIToCompare"
      :withContrails="withContrails"
      :modules="modules"
      :colors="colors"
    />
  </div>
</template>

<script>
import VEHICLES_FACTORS from '@/../data/vehiclesFactors.json'
import TRANSPORTS_FACTORS from '@/../data/transportsFactors.json'
import HEATING_FACTORS from '@/../data/heatingFactors.json'
import ELECTRICITY_FACTORS from '@/../data/electricityFactors.json'
import REFRIGERANTS_FACTORS from '@/../data/refrigerantsFactors.json'
import '@/plugins/highcharts.js'
import { useAdminStore } from '@/stores/admin.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'GHGIComparison',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'ghgis-bar': () => import('@/components/graphics/GHGIsBar.vue'),
    'ghgis-line': () => import('@/components/graphics/GHGIsLine.vue'),
    'contrails-switch': () => import('@/components/ContrailsSwitch.vue')
  },
  data () {
    return {
      selectedEFYear: null,
      GHGIToCompare: [],
      withContrails: true,
      displayMode: 'bar'
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const coreStore = useCoreStore()
    return { adminStore, coreStore }
  },
  computed: {
    modules: function () {
      return this.coreStore.activeModules(true)
    },
    colors: function () {
      return this.coreStore.setting('global', 'MODULES_COLORS').value
    },
    allGHGI: function () {
      return this.adminStore.allGHGI
    },
    sortedGHGIToCompare: function () {
      // don't sort in-place (no side-effect is allowed on data on computed property)
      return this.GHGIToCompare.slice().sort((a, b) => (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0))
    },
    allEFYears: function () {
      let allEFYears = []
      for (let type of Object.keys(VEHICLES_FACTORS)) {
        for (let subtype of Object.keys(VEHICLES_FACTORS[type])) {
          allEFYears = allEFYears.concat(Object.keys(VEHICLES_FACTORS[type][subtype].decomposition))
        }
      }
      for (let type of Object.keys(TRANSPORTS_FACTORS)) {
        for (let subtype of Object.keys(TRANSPORTS_FACTORS[type])) {
          allEFYears = allEFYears.concat(Object.keys(TRANSPORTS_FACTORS[type][subtype].decomposition))
        }
      }
      for (let type of Object.keys(HEATING_FACTORS)) {
        for (let subtype of Object.keys(HEATING_FACTORS[type])) {
          allEFYears = allEFYears.concat(Object.keys(HEATING_FACTORS[type][subtype].decomposition))
        }
      }
      for (let type of Object.keys(ELECTRICITY_FACTORS)) {
        allEFYears = allEFYears.concat(Object.keys(ELECTRICITY_FACTORS[type].decomposition))
      }
      for (let type of Object.keys(REFRIGERANTS_FACTORS)) {
        allEFYears = allEFYears.concat(Object.keys(REFRIGERANTS_FACTORS[type].decomposition))
      }
      return Array.from(new Set(allEFYears)).sort((a, b) => parseInt(b) - parseInt(a))
    }
  },
  methods: {
    computeGHGI: function () {
      this.adminStore.computeAllGHGI(this.selectedEFYear)
    },
    initiGHGIToCompare: function () {
      this.GHGIToCompare = this.allGHGI
    }
  },
  watch: {
    GHGIToCompare: function () {
      this.computeGHGI()
    },
    allGHGI: function () {
      this.initiGHGIToCompare()
    }
  },
  mounted () {
    this.initiGHGIToCompare()
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
.table td {
  vertical-align: middle !important;
}
.table th {
  vertical-align: middle !important;
}
</style>
